.jumbotron {
    background-image: url("../images/spiration-light.png");
    margin-top: 200px;
    opacity: 1.2;

}
body {
    background-image: url("../images/aspen1.JPG");
    /* background-size: 100%; */
}
.navbar {
    background-image: url("../images/spiration-light.png");
    margin-bottom: 20px;
}
.navbar-nav {
     margin-left: auto;
}
.nav-item {
    text-align: center;
    font-family: Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.nav-item {
    padding: 5px 15px;;
}

.display-4 {
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    font-size: 90px;
}
.lead-welcome {
    /* text-align: center; */
    font-size: 22px;
    font-weight: 700;
}
.headshotCircle {
    width: 30%;
    float: right;
    margin-top: -120px;
    /* filter: grayscale(100%); */
}
.contacth1 {
    color: white;
}
label {
    color: white;
    font-weight: 700;
}
.formBox {
    background-color:rgba(0, 0, 0, .2);  
    margin: auto;
    padding: 20px;
}
.btn-primary {
    background-color: #597BA1;
}
.card-deck {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.card-img-top {
    padding: 20px;
    height: 200px;
}
.card-body a:hover {
    text-decoration: none;
}
.card-title {
    text-align: center;
    color: black;
}
.card-port-text {
    color: black;
    text-align: center;
}
portfolioLink {
    color: black;
}
.port-card:hover {
    background-color:rgba(0, 0, 0, .5);
}
.aboutMeCard {
    width: 75%;
    margin: 0 auto;
}
.aboutMeHeader {
    font-family: Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.fa {
    margin: 0 10px;
    color: #B2B2B2;
}
.alertResume {
    font-family: Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
    font-size: 30px;
    width: 75%;
    margin: 20px auto;
}